.checkout {
	display: flex;
	padding: 20px;
	background-color: white;
	height: max-content;

	/* adding animation*/
	animation: checkout-load 300ms ease-in 200ms;
	animation-fill-mode: forwards;
	transform: translateY(-20px);
	opacity: 0;
}

@keyframes checkout-load {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.checkout__ad {
	width: 100%;
	margin-bottom: 15px;
}
.checkout__title {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
